.wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #f3f4f7;
}

.side-nav {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.side-nav > li {
  list-style: none;
  height: 45px;
  padding: 10px;
  padding-left: 20px;
  font-size: 16px;
  color: #253858;
  transition: 0.3s ease-in-out;
}

.side-nav > li.selected {
  background: #fdf2d8;
  border-left: 10px solid #fea025;
}

.side-nav > li:hover {
  background: #f3f5f7;
}

.side-nav .menu-label {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  color: #8993a4;
  letter-spacing: 0;
  font-weight: 500;
  width: 100%;
}

.side-nav .menu-label .add-icon {
  float: right;
  font-size: 22px;
  color: #ffa000;
  cursor: pointer;
}

.side-nav .menu-label .add-icon:hover {
  opacity: 0.9;
}

.addlanecontainer {
  height: calc(100% - 10px);
  width: 150px;
  margin: 0px 10px 0px 10px;
  padding-bottom: 10px;
}

.addlane {
  height: calc(100% - 20px);
  width: 100%;
  background: #deebff;
  border-radius: 5px;
  display: table;
  text-align: center;
}

.filtercontainer {
  height: 52px;
  width: 100%;
  background-color: white;
}

.lanecontainer {
  width: 100%;
  height: calc(100% - 52px);
  padding: 10px 10px 0px 10px;
  overflow: auto;
}

.addlane-icon {
  font-size: 60px;
  color: #0065ff;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
}

.lane-title {
  display: inline-block;
  width: 100%;
  height: 20px;
  font-size: 14px;
  cursor: text;
  color: #172b4d;
}

.lane-title i {
  display: none;
  float: right;
}

.lane-title:hover i {
  display: inline-block;
}

.logo {
  color: #fea025;
  margin-bottom: 0;
}

.menu-icon {
  left: 20px;
  top: 22px;
  font-size: 18px;
  color: #172b4d;
  cursor: pointer;
}

.display-none {
  display: none;
}

.labelkey {
  height: 25px;
  width: 25px;
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 14px;
  border-radius: 50%;
  padding: 2px;
  text-transform: uppercase;
}

.main-btn {
  background: #ffa000;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 7px 10px 7px 10px;
  color: white;
  transition: 0.3s ease-in-out;
}

.main-btn.yellow {
  background: #ffa000;
}

.main-btn.grey {
  background: #8993a4;
}
.main-btn.red {
  background: #dc3545;
}

.main-btn.yellow:hover {
  background: #ff8f00;
}

.main-btn.grey:hover {
  background: #a5adba;
}

.main-btn.red:hover {
  background: #bb2d3b;
}

.taskviewercontainer {
  padding: 15px;
}

.tasktable {
  margin: 15px;
  width: 100%;
  font-size: 14px;
}

.tasktable thead {
  width: 100%;
}

.tasktable tr {
  border-bottom: 1px solid #c1c7d0;
  height: 45px;
  width: 100%;
}

.tasktable th {
  border-bottom: 2px solid #505f79;
  height: 45px;
  color: #172b4d;
}

.tasktable tbody tr:hover {
  background: #fffae6;
}

.tasktable .td {
  color: #505f79;
}

.taskcard {
  padding: 10px 15px;
  background: white;
  /* margin: 10px; */
  margin-bottom: 5px;
  border: 1px solid #ebecf0;
  border-radius: 5px;
  cursor: pointer;
}

.taskcard:hover {
  background: #fff9ea !important;
  border: 1px solid #ffe1bb;
}

.delete-icon {
  font-size: 0;
  cursor: pointer;
  transition: 0.1s all;
}

.taskcard:hover .delete-icon {
  font-size: 14px;
}

.taskcard .title {
  color: #42526e;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
}

.pill {
  padding: 1px 5px 1px 5px;
  font-size: 13px;
  display: inline-block;
  border-radius: 10px;
  min-width: 60px;
  text-align: center;
  margin-bottom: 5px;
  font-weight: 400;
}

.taskcard .duedate {
  color: #8993a4;
  font-weight: 400;
  font-size: 14px;
}

.form-label {
  color: #42526e;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 2px;
}

.viewicon {
  font-size: 18px;
  color: #8993a4;
  cursor: pointer;
}

.viewicon.selected {
  color: #ffa000;
}

/* overiding bootstrap */

.form-control {
  font-size: 14px !important;
}

.navbar-collapse {
  justify-content: flex-end;
}


.add-button:hover {
  background: #ffa000;
  color: white;
}

.lane-title-input {
  width: 100%;
  margin-bottom: 5px;
  border: 1.5px solid #9ea1ad;
  border-radius: 0.25rem;
  outline: none;
  font-size: 14px;
  font-weight: 600;
}

.lane-title-input.error {
  border-color: #dc3545;
  background: #f6d9dc;
}

.float-right {
  float: right;
}
